.div1--1{
color: rgb(87, 87, 192);
font-size: 30px;
text-align: center;
}
.ul1{
    background-color: #b9b6ea;
    color:white;
}
.div2--2{
    height: 500px;
    background-image: url("hd-8k-wallpaper-stock-photographic-image-generative-ai_882954-94477\ \(1\).jpg");
    background-size: cover;
    text-align: center;
    
}